:root { 
--gray_700_1e:#6666661e; 
--gray_400:#bbbbbb; 
--gray_500:#a1a1a1; 
--gray_901:#221e20; 
--indigo_50:#ebedfd; 
--gray_900:#181818; 
--teal_50:#d1f4ee; 
--yellow_A700:#ffd400; 
--gray_200:#e8e8e8; 
--gray_50:#f8f8f8; 
--gray_100:#f3f3f3; 
--teal_A400:#12ddc5; 
--bluegray_900:#211b53; 
--indigo_A700:#2c43dd; 
--black_900:#000000; 
--blue_100:#c8e9ff; 
--deep_purple_A700:#311ddb; 
--white_A700:#ffffff; 
}