
 @font-face { font-style : bold; src: url("assets/fonts/OverpassBold.ttf"); font-family : "Overpass"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/OverpassRegular.ttf"); font-family : "Overpass"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/OverpassSemiBold.ttf"); font-family : "Overpass"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/OverpassMedium.ttf"); font-family : "Overpass"; font-weight : 500;  }